<footer class="site-footer">

  <div id="menu">
  	<div id="menu-center">

  <a href="/"><img src="/images/ico-ring.svg"/><span>Wedding</span></a>
  <a href="/us"><img src="/images/ico-us.svg"/><span>Us</span></a>
  <a href="/where"><img src="/images/ico-bed.svg"/><span>Hotels</span></a>
  <a href="/attractions"><img src="/images/ico-map.svg"/><Span>Attractions</span></a>
  <a href="/party"><img src="/images/ico-party.svg"/><Span>The Party</span></a>
  <a href="/registry"><img src="/images/ico-registry.svg"/><span>Registry</span></a>
</div>

</div>

</footer>
