a {
    color: #6c2738;
    transition: all .1s;
    
    &:hover {
        opacity:.5;
        
    }
}

h3{font-size:13px;
margin:0px 0px 10px 0px;
padding:0;}


 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    }

    .box{
    padding:20px 10px;
    background:#fff;
    color:#4e4e4e;
    width:220px;
    margin:auto;
    text-align:center;
    box-shadow: 
    0 0 0 12px rgba(101,27,54,1),
    0 0 0 14px rgba(255,255,255,1);
    animation: thecolor 10s infinite;
}

/* The animation code */
@keyframes thecolor {
0% { box-shadow: 0 0 0 12px #006584, 0 0 0 14px #ffffff; }
25% { box-shadow: 0 0 0 12px #841733, 0 0 0 14px #ffffff; }
50% { box-shadow: 0 0 0 12px #a45a8f, 0 0 0 14px #ffffff; }
75% { box-shadow: 0 0 0 12px #6c2738, 0 0 0 14px #ffffff; }
100% { box-shadow: 0 0 0 12px #006584, 0 0 0 14px #ffffff; }
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

#menu{
    background-color:#51494a;
    padding:10px;
    width:100%;
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
    padding:5px 0px 2px 0px;
    z-index:10;
}
#menu-center{display:inline-block;margin:auto;}


#menu img{
    height:32px;
    padding:5px 10px;
}
#menu a{float:left;padding:0px 2px;text-decoration: none;}
#menu a span{font-size:10px;color:rgba(255,255,255,.5);display:block;}
#menu a:hover span{text-decoration:none;color:rgba(255,255,255,1);border:0;}


 .popup_content{
    padding:10px 20px;
    text-align:center;
    background:#fff;
    color:#4e4e4e;
    max-width:280px;
    margin:auto;
    box-shadow: 
    0 0 0 5px rgba(101,27,54,1),
    0 0 0 7px rgba(255,255,255,1);
    animation: thecolor 10s infinite;

}
.popup_content img{
    max-width:150px;
    border:5px solid #fff;
    padding:0px 10px 15px 10px;
}

  #graphic{width:130px;}
    #name{width:200px;
    padding:10px 0px;}
    .cirle{float:left;padding:5px;}
    .cirle img{width:130px;height:130px;border:5px solid #fff;}
    .clear{clear:both;}
    #party-layout{display:inline-block;padding:20px 0px;}
    .layout{margin:auto;text-align:center;}


    #map-frame{
        width:280px;
        border:0;
        position:relative;
        height:300px;
        overflow:hidden;
        margin:auto;

        background-color:#fff;
    }

  #google-map{
    width:100%;
    border:0;height:300px;
    position:absolute;top:-47px;left:0px;}

    #map-frame div{
        position:absolute;bottom:0px;
        text-align: center;
        padding:10px 10%;
        width:80%;
    }

    .hotel-color{height:10px;width:10px;margin:auto;border-radius:100%;}




    .details{
    padding:20px;
    background:#fff;
    color:#4e4e4e;
    width:210px;
    margin:30px auto;
    text-align:center;
    box-shadow: 
    0 0 0 5px rgba(101,27,54,1),
    0 0 0 7px rgba(255,255,255,1);
    animation: thecolor 10s infinite;}

.details a{margin-bottom:12px;display:inline-block;line-height:1.3em;}

    .where{margin:30px auto 230px auto;}

    .close{
    position:fixed;
    top:10px;
    right:10px;
        display:block;
        text-align: center;
        border:0;
        width:40px;
        height:40px;
        margin:auto;
        background-image:url("/images/close.svg");
        background-repeat:no-repeat;
        background-size:30px 24px;
        font-size:0px;
    background-position: center center;    
    background-color:rgba(0,0,0,.5);
    border-radius:20px;
    }

    .close:hover{background-color:rgba(0,0,0,1);}



/**
    * AddToCalendar Blue Style
    * http://addtocalendar.com
    */

    /* Base */

    .addtocalendar var{
    display: none;
    }

    .addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
    }

    .atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
    }

    .atcb-link:focus~ul,
    .atcb-link:active~ul,
    .atcb-list:hover{
    visibility:visible;
    }

    .atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
    }

    .atcb-list,
    .atcb-item
    {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    }

    .atcb-item {
    float: none;
    text-align: left;
    }

    .atcb-item-link
    {
    text-decoration: none;
    outline: none;
    display: block;
    }

    .atcb-item.hover,
    .atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    }


    /* Blue */

    .atc-style-blue .atcb-link,
    .atc-style-blue .atcb-link:hover,
    .atc-style-blue .atcb-link:active,
    .atc-style-blue .atcb-link:focus
    {
    margin: 0;
    padding: 14px 14px 14px 45px;
    color: #4e4e4e;

    text-decoration: none;
    outline: none;
    vertical-align: middle;
    background-image: url(/images/cal.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 13px 8px;
    border:1px solid #4e4e4e;



    zoom: 1;
    }

    .atc-style-blue .atcb-list {
    width: 166px;
    border: 1px solid #4e4e4e;

    }

    .atc-style-blue .atcb-list,
    .atc-style-blue .atcb-item
    {
    background: #fff;
    color: #000;
    }

    .atc-style-blue .atcb-item,
    .atc-style-blue .atcb-item-link
    {
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
    }

    .atc-style-blue .atcb-item-link,
    .atc-style-blue .atcb-item-link:hover,
    .atc-style-blue .atcb-item-link:active,
    .atc-style-blue .atcb-item-link:focus
    {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    padding: 5px 15px;
    }

    .atc-style-blue .atcb-item-link:hover,
    .atc-style-blue .atcb-item-link:active,
    .atc-style-blue .atcb-item-link:focus
    {
    color: #fff;
    }

    .atc-style-blue .atcb-item.hover,
    .atc-style-blue .atcb-item:hover {
    background: rgb(66,129,244);
    }

  

