---
layout: default
---
<div class="layout">
    <div id="party-layout">
        <div class="cirle">


            <a href="#" id="val"><img src="/images/val.jpg" /></a>
        </div>
        <div id="valpopup" style="display:none;">
            <button class="valpopup_close close">Close</button>
            <img src="/images/val.jpg" />

            <p><strong>Valerie – Matron of Honor</strong><br/>Asheville, NC</p>
            <p>How They Met:<br/>In preschool when Valerie was the only person successful in teaching Susannah how to tie her shoes.</p>
            <p>Friendship Cemented:<br/> When Valerie moved in next store, and they were able to share countless sleepovers, snow days, and Saturdays together.
            </p>
            <p>Fun Fact:<br/> Valerie can quote most of Golden Girls (she relates most to Sophia).
            </p>


        </div>
        <div class="cirle">


            <a href="#" id="mark"><img src="/images/mark.jpg" /></a>
        </div>
        <div id="markpopup" style="display:none;">
            <button class="markpopup_close close">Close</button>
            <img src="/images/mark.jpg" />
            <p><strong>Mark – Best Man</strong><br/> Wilimantic, CT</p>
            <p>How They Met:<br/> We met pretty early on in life...</p>
            <p>Friendship Cemented:<br/> He grew on me slowly. Eventually I decided he was a pretty good brother.</p>
            <p>Fun Fact:<br/> He's the 2nd best McInerney brother.</p>


        </div>

        <div class="clear"></div>

        <div class="cirle">

            <a href="#" id="katie"><img src="/images/katie.jpg" /></a>
        </div>
        <div id="katiepopup" style="display:none;">
            <button class="katiepopup_close close">Close</button>
            <img src="/images/katie.jpg" />
            <p><strong>Katie – Bridesmaid</strong><br/>Savannah, GA</p>
            <p>How They Met:<br/> In high school when Susannah was both intrigued and intimidated by Katie’s sense of style and music savvy.
            </p>
            <p>Friendship Cemented:<br/> During life talks over a ridiculous amount of Starbucks frappuccinos.
            </p>
            <p>Fun Fact:<br/>It has been scientifically proven that Katie is mother to one of cutest humans of all time, his name is Jonah.</p>


        </div>

        <div class="cirle">


            <a href="#" id="andy"><img src="/images/andy.jpg" /></a>
        </div>
        <div id="andypopup" style="display:none;">
            <button class="andypopup_close close">Close</button>
            <img src="/images/andy.jpg" />
            <p><strong>Andy – Groomsman</strong><br/>Baltimore, MD</p>
            <p>How They Met:<br/> Twitter</p>
            <p>Friendship Cemented:<br/> Meeting in person after talking online for a year.</p>
            <p>Fun Fact:<br/> We've been recording a podcast together for 4 years.</p>


        </div>

        <div class="clear"></div>







        <div class="cirle">


            <a href="#" id="anne"><img src="/images/anne.jpg" /></a>
        </div>
        <div id="annepopup" style="display:none;">
            <button class="annepopup_close close">Close</button>
            <img src="/images/anne.jpg" />
            <p><strong>Anne – Bridesmaid</strong><br/>Washington, D.C.</p>
            <p>How They Met:<br/> In middle school after realizing they shared the same sense of humor, neighborhood, and shoe size.</p>
            <p>Friendship Cemented:<br/> While camping at a music festival together and definitely not sneaking drinks in the tent… No, not them, definitely not.</p>
            <p>Fun Fact:<br/> World traveler with several future adventures always in the works.</p>


        </div>

        <div class="cirle">

            <a href="#" id="markj">
                <img src="/images/markj.jpg" /></a>
        </div>
        <div id="markjpopup" style="display:none;">
            <button class="markjpopup_close close">Close</button>

            <img src="/images/markj.jpg" />
            <p><strong>Mark – Groomsman</strong><br/>Ridgewood (not Brookyln), NY</p>
            <p>How They Met:<br/> In a college class.</p>
            <p>Friendship Cemented:<br/> Surviving a fall of living together in a studio apartment.</p>
            <p>Fun Fact:<br/> Mark can't keep a plant alive.</p>


        </div>
        





        <div class="clear"> </div>
        

        <div class="cirle">
            <a href="#" id="ashley"><img src="/images/ashley.jpg" /></a>
        </div>
        <div id="ashleypopup" style="display:none;">
            <button class="ashleypopup_close close">Close</button>
            <img src="/images/ashley.jpg" />
            <p><strong>Ashley – Bridesmaid</strong><br/>New York City, NY
            </p>
            <p>How They Met:<br/> When Ashley ENTHUSIASTICALLY introduced herself on her first day of work.
            </p>
            <p>Friendship Cemented:<br/> On a road trip to visit the Rochester Apple Festival and help Ashley move to NYC.
            </p>
            <p>Fun Fact:<br/> Lover of all things fall &amp; Halloween… And apples, obviously.</p>


        </div>

        <div class="cirle">


            <a href="#" id="jack"><img src="/images/jack.jpg" /></a>
        </div>
        <div id="jackpopup" style="display:none;">
            <button class="jackpopup_close close">Close</button>
            <img src="/images/jack.jpg" />
            <p><strong>Jack – Groomsman</strong><br/>Turners Falls, MA</p>
            <p>How They Met:<br/> At a show in middleschool.</p>
            <p>Friendship Cemented:<br/> The summer of Postal Service.</p>
            <p>Fun Fact:<br/> We used to be in a band together.</p>


        </div>

        <div class="clear"> </div>



        <div class="cirle">
            <a href="#" id="marlee"><img src="/images/marlee.jpg" /></a>
        </div>
        <div id="marleepopup" style="display:none;">
            <button class="marleepopup_close close">Close</button>
            <img src="/images/marlee.jpg" />
            <p><strong>Marlee – Bridesmaid</strong><br/>New York, NY</p>
            <p>How They Met:<br/> Friendship at first sight upon starting a new job together.
            </p>
            <p>Friendship Cemented:<br/> See above.</p>
            <p>Fun Fact:<br/> Native New Yorker with a closet Sarah Jessica Parker would die for.
            </p>


        </div>
        <div class="cirle">


            <a href="#" id="stacey"><img src="/images/stacey.jpg" /></a>
        </div>
        <div id="staceypopup" style="display:none;">
            <button class="staceypopup_close" class="close">Close</button>
            <img src="/images/stacey.jpg" />
            <p><strong>Stacey – Groomslady</strong><br/>Brooklyn, NY</p>
            <p>How They Met:<br/> Arguing about music at a party.</p>
            <p>Friendship Cemented:<br/> Telling Suzy I wasn't so bad. </p>
            <p>Fun Fact:<br/> Kickstarter pie celebrity. Also... she's the main reason the engagement plan came together.</p>


        </div>

        <div class="clear"></div>

    </div>
</div>


<script>
    $(document).ready(function() {

     $( "#anne" ).click(function() {
$('#annepopup').popup('toggle');
    });

     $( "#mark" ).click(function() {
$('#markpopup').popup('toggle');
    });

          $( "#jack" ).click(function() {
$('#jackpopup').popup('toggle');
    });

     $( "#val" ).click(function() {
$('#valpopup').popup('toggle');
    });


          $( "#katie" ).click(function() {
$('#katiepopup').popup('toggle');
    });
        $( "#markj" ).click(function() {
$('#markjpopup').popup('toggle');
    });

        $( "#andy" ).click(function() {
$('#andypopup').popup('toggle');
    });

        $( "#marlee" ).click(function() {
$('#marleepopup').popup('toggle');
    });


    $( "#ashley" ).click(function() {
$('#ashleypopup').popup('toggle');
    });

    $( "#stacey" ).click(function() {
$('#staceypopup').popup('toggle');
    });


    });
  </script>